# ignore pychace
**__pycache__

# checkpoints
**.ipynb_checkpoints

# keystore
**keystore

**scratch
*scratch*

# screenlog files
**screenlog.0

# ignore build files
**dist
**build

# keystores
*keystore.py

# egg file
**egg-info


